.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  margin-bottom: 10px;
  height: 30px;

  button {
    font-size: 22px;
    height: 100%;
    width: 100px;
    border: none;
    background-color: #dc3546;

    &:hover {
      background-color: #30e08eb9;
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
